@import url("https://fonts.googleapis.com/css?family=Kanit:900");
@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/luckiestguy/v11/_gP_1RrxsjcxVyin9l9n_j2hTd52.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 17px;
    background-image: url("../IMAGES/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(240, 206, 212);
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(199, 97, 97, 0.281);
    color: #fff;
    font-family: "Kanit";
    font-size: 25px;
    text-shadow: 0 1px 0 #dba1a1, 0 2px 0 #d89999, 0 3px 0 #d59292, 0 4px 0 #d28a8a, 0 5px 0 #cf8383, 0 6px 0 #cd7c7c, 0 7px 0 #ca7474, 0 8px 0 #c76d6d, 0 0 5px rgba(230, 139, 139, 0.05), 0 -1px 3px rgba(230, 139, 139, 0.2), 0 9px 9px rgba(230, 139, 139, 0.3), 0 12px 12px rgba(230, 139, 139, 0.3), 0 15px 15px rgba(230, 139, 139, 0.3);
  }
  
  .logo {
    font-size: 25px;
    margin: 10px;
  }
  .logo a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
  }
  .navbar-links ul {
    margin: 0px 10px;
    padding: 0px;
    display: flex;
  }
  .navbar-links ul li {
    list-style: none;
  }
  .navbar-links ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
    display: block;
  }
  .navbar-links ul li a:hover {
    background: #ffffff;
    color: #000000;
  }
  .togglebtn {
    position: absolute;
    top: 10px;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .line {
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    .togglebtn {
      display: flex;
    }
    .navbar-links {
      display: none;
      width: 100%;
    }
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar-links ul {
      width: 100%;
      flex-direction: column;
    }
    .navbar-links ul li {
      text-align: center;
    }
    .navbar-links ul li a {
      padding: 16px;
    }
    .navbar-links.active {
      display: flex;
    }
  }
  .baby {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    border: 5px solid rgb(0, 255, 0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .text {
    text-align:center;
    font-size: 5vh;
    margin-top: 3vh;
    color: rgb(0, 255, 0);
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  }
  .instructions {
    display: block;
    margin-left: 5vw;
    margin-right: auto;
    margin-top: 5vh;
    float: left;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.466);
    padding-right: 30px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .bul {
    color: rgb(134, 5, 5);
    list-style:none;
    position: relative;
    padding-left:30px;
    line-height: 2;
    font-size:18.5px;
  } 
  .bul:before {
    font-family:FontAwesome;
    position: absolute;
    left: 0;
    color: #e44a4a;
    font-size:18.5px;
    content:"\f004";
  }

  .title {
    padding-left:40px;
    font-size: 40px;
    font-family: 'Luckiest Guy';
    color:rgb(85, 6, 6);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
