<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>SIDS</title>
        <link rel="icon" href="https://image.flaticon.com/icons/svg/2913/2913584.svg" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/CSS/articles.css">
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    </head>
    
    <body>
        <header>
            <nav class="navbar">
                <div class="logo"><a href="#">SIDS</a></div>
                <a class="togglebtn" href="#"><span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span></a>
                <div class="navbar-links">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="stats.html">Statistics</a></li>
                        <li><a href="#">Articles</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <h1 class="title">Precautions</h1>
        <ul>
            <li class="bulp"> The system continuously monitors your baby's data and displays live video, audio and temperature. Past data of the baby and any risks are shown in the form of statistics. </li>
            <li class="bulp"> Any deviation from a healthy position or situation is quickly notified.(i.e red: indicates need for precaution, green: indicates safe) </li>
            <li class="bulp"> General baby tips and precautions are mentioned in the website. Information regarding SIDS (Sudden Infant Death Syndrome) is provided through Youtube references and news articles. </li>
        </ul>
        <h1 class="title">For More information You Can Read</h1>
        <ul>
            <li class="bulp"> <a href="https://kidshealth.org/en/parents/sids.html" target="_blank">https://kidshealth.org/en/parents/sids.html</a> </li>
            <li class="bulp"> <a href="https://www.medicinenet.com/sids/article.htm#what_is_the_cause_of_sids" target="_blank">https://www.medicinenet.com/sids/article.htm#what_is_the_cause_of_sids</a> </li>
            <li class="bulp"> <a href="https://www.sleepfoundation.org/baby-sleep/sudden-infant-death-syndrome" target="_blank">https://www.sleepfoundation.org/baby-sleep/sudden-infant-death-syndrome</a> </li>
            <li class="bulp"> <a href="https://www.goodtherapy.org/blog/psychpedia/sudden-infant-death-syndrome" target="_blank">https://www.goodtherapy.org/blog/psychpedia/sudden-infant-death-syndrome</a> </li>
            <li class="bulp"> <a href="https://agscientific.com/blog/2012/01/sudden-infant-death-syndrome-sids-a-personal-story-from-grief-to-hope/" target="_blank">https://agscientific.com/blog/2012/01/sudden-infant-death-syndrome-sids-a-personal-story-from-grief-to-hope/</a> </li>
            <li class="bulp"> <a href="https://www.stamfordhealth.org/healthflash-blog/maternal-child/sids-prevention/" target="_blank">https://www.stamfordhealth.org/healthflash-blog/maternal-child/sids-prevention/</a> </li>
        </ul>
        <h1 class="title">For More information You Can Go Through</h1>
        <div class="vid">
            <iframe width="290" height="200" src="https://www.youtube.com/embed/kDFoGmIyShI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="290" height="200" src="https://www.youtube.com/embed/09kNXxYB_Ko" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="290" height="200" src="https://www.youtube.com/embed/UztyHWve7gc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="290" height="200" src="https://www.youtube.com/embed/AFZCmia2kyg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="290" height="200" src="https://www.youtube.com/embed/AtuHgoPGCmI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </body>
</html>