<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>SIDS</title>
        <link rel="icon" href="https://image.flaticon.com/icons/svg/2913/2913584.svg" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/CSS/articles.css">
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    </head>
    
    <body>
        <header>
            <nav class="navbar">
                <div class="logo"><a href="#">SIDS</a></div>
                <a class="togglebtn" href="#"><span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span></a>
                <div class="navbar-links">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Instructions</a></li>
                        <li><a href="stats.html">Statistics</a></li>
                        <li><a href="#">Articles</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <p>Articles</p>
    </body>
</html>