<!DOCTYPE html>
<html lang="en">
git
    <head>
        <meta charset="utf-8">
        <title>SIDS</title>
        <link rel="icon" href="https://image.flaticon.com/icons/svg/2913/2913584.svg" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/CSS/articles.css">
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    </head>
    
    <body>
        <header>
            <nav class="navbar">
                <div class="logo"><a href="#">SIDS</a></div>
                <a class="togglebtn" href="#"><span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span></a>
                <div class="navbar-links">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="stats.html">Statistics</a></li>
                        <li><a href="#">Articles</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <h1 class="title">Precautions</h1>
        <ul>
            <li class="bulp"> Back to sleep. Place your baby to sleep on his or her back, rather than on the stomach or side, every time you — or anyone else — put the baby to sleep for the first year of life. This isn't necessary when your baby's awake or able to roll over both ways without help. </li>
            <li class="bulp"> Don't assume that others will place your baby to sleep in the correct position — insist on it. Advise sitters and child care providers not to use the stomach position to calm an upset baby. </li>
            <li class="bulp"> Keep the crib as bare as possible. Use a firm mattress and avoid placing your baby on thick, fluffy padding, such as lambskin or a thick quilt. Don't leave pillows, fluffy toys or stuffed animals in the crib. These can interfere with breathing if your baby's face presses against them. </li>
            <li class="bulp"> Don't overheat your baby. To keep your baby warm, try a sleep sack or other sleep clothing that doesn't require additional covers. Don't cover your baby's head. </li>
            <li class="bulp"> Have your baby sleep in in your room. Ideally, your baby should sleep in your room with you, but alone in a crib, bassinet or other structure designed for infant sleep, for at least six months, and, if possible, up to a year. </li>
            <li class="bulp"> Adult beds aren't safe for infants. A baby can become trapped and suffocate between the headboard slats, the space between the mattress and the bed frame, or the space between the mattress and the wall. A baby can also suffocate if a sleeping parent accidentally rolls over and covers the baby's nose and mouth. </li>
            <li class="bulp"> Breast-feed your baby, if possible. Breast-feeding for at least six months lowers the risk of SIDS. </li>
            <li class="bulp"> Don't use baby monitors and other commercial devices that claim to reduce the risk of SIDS. The American Academy of Pediatrics discourages the use of monitors and other devices because of ineffectiveness and safety issues. </li>
            <li class="bulp"> Offer a pacifier. Sucking on a pacifier without a strap or string at nap-time and bedtime might reduce the risk of SIDS. One caveat — if you're breast-feeding, wait to offer a pacifier until your baby is 3 to 4 weeks old and you've settled into a nursing routine. </li>
            <li class="bulp"> If your baby's not interested in the pacifier, don't force it. Try again another day. If the pacifier falls out of your baby's mouth while he or she is sleeping, don't pop it back in. </li>
            <li class="bulp"> Immunize your baby. There's no evidence that routine immunizations increase SIDS risk. Some evidence indicates immunizations can help prevent SIDS. </li>
        </ul>
        <h1 class="title">For More information You Can Read</h1>
        <ul>
            <li class="bulp"> <a href="https://kidshealth.org/en/parents/sids.html" target="_blank">https://kidshealth.org/en/parents/sids.html</a> </li>
            <li class="bulp"> <a href="https://www.medicinenet.com/sids/article.htm#what_is_the_cause_of_sids" target="_blank">https://www.medicinenet.com/sids/article.htm#what_is_the_cause_of_sids</a> </li>
            <li class="bulp"> <a href="https://www.sleepfoundation.org/baby-sleep/sudden-infant-death-syndrome" target="_blank">https://www.sleepfoundation.org/baby-sleep/sudden-infant-death-syndrome</a> </li>
            <li class="bulp"> <a href="https://www.goodtherapy.org/blog/psychpedia/sudden-infant-death-syndrome" target="_blank">https://www.goodtherapy.org/blog/psychpedia/sudden-infant-death-syndrome</a> </li>
            <li class="bulp"> <a href="https://agscientific.com/blog/2012/01/sudden-infant-death-syndrome-sids-a-personal-story-from-grief-to-hope/" target="_blank">https://agscientific.com/blog/2012/01/sudden-infant-death-syndrome-sids-a-personal-story-from-grief-to-hope/</a> </li>
            <li class="bulp"> <a href="https://www.stamfordhealth.org/healthflash-blog/maternal-child/sids-prevention/" target="_blank">https://www.stamfordhealth.org/healthflash-blog/maternal-child/sids-prevention/</a> </li>
        </ul>
        <h1 class="title">For More information You Can Go Through</h1>
        <div class="vid">
            <iframe width="290" height="200" src="https://www.youtube.com/embed/kDFoGmIyShI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="290" height="200" src="https://www.youtube.com/embed/09kNXxYB_Ko" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="290" height="200" src="https://www.youtube.com/embed/UztyHWve7gc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="290" height="200" src="https://www.youtube.com/embed/AFZCmia2kyg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="290" height="200" src="https://www.youtube.com/embed/AtuHgoPGCmI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </body>
</html>