<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>SIDS</title>
        <link rel="icon" href="https://image.flaticon.com/icons/svg/2913/2913584.svg" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/CSS/index.css">
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    </head>
    
    <body>
        <header>
            <nav class="navbar">
                <div class="logo"><a href="#">SIDS</a></div>
                <a class="togglebtn" href="#"><span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span></a>
                <div class="navbar-links">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="stats.html">Statistics</a></li>
                        <li><a href="articles.html">Articles</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="instructions">
            <h1 class="title">Instructions</h1>
        <ul>
            <li class="bul"> The system continuously monitors your baby's data and displays live video, audio and temperature. Past data of the baby and any risks are shown in the form of statistics. </li>
            <li class="bul"> Any deviation from a healthy position or situation is quickly notified.(i.e red: indicates need for precaution, green: indicates safe) </li>
            <li class="bul"> General baby tips and precautions are mentioned in the website. Information regarding SIDS (Sudden Infant Death Syndrome) is provided through Youtube references and news articles. </li>
        </ul>
        </div>
        <img src="/vfeed" alt="Baby Video" width="900" height="570" class="baby">
        <p class="text"></p>
        <script>
            function myFunction() {
                $.post("/danger", {}, function getter(data, status){
                    console.log(response)
                    if (response == "1") {
                    document.getElementById("text").style.color = "red";
                    document.getElementById("text").innerHTML = "Warning: Your baby is not in the right position";
                    document.getElementById("baby").style.borderColor = "red";
                    }
                    else {
                        document.getElementById("text").style.color = "green";
                        document.getElementById("text").innerHTML = "Message: Your baby is in the right position";
                    }
                });
                
            }
            setTimeout(myFunction, 1000);
        </script>
    </body>
</html>